html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  /* adjust typography defaults */
  body {
    margin: 1rem;
    line-height: 1.5;
    background-color: #FFFBF2;
  }
  .flex-container {
    display: flex;
   flex-direction: row;
  flex-wrap: wrap;
   position:relative;
  justify-content: left;
  align-items: left;  
  }   
  .flex-container > div {
    position: absolute;
    top: 0px;
    left:0px;
    text-align: left;
    font-size:100px;
    font-family: 'Inter', sans-serif;
   color: #010A10;

  }

  .flex-container1 {
    display: flex;
   flex-direction: row;
  flex-wrap: wrap;
   position:relative;
  justify-content: center;
  align-items: center;  
  }   
  .flex-container1 > div {
    position: absolute;
    top: 350px;
    text-align: center;
    font-size:400px;
    font-family: 'Inter', sans-serif;
   color: #C10206;

  }