html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  /* adjust typography defaults */
  body {
    margin: 1rem;
    line-height: 1.5;
    background-color: #FFFBF2;
  }

  h1 {
    text-align: left;
    font-size: 100px;
    font-family: 'Inter', sans-serif;
   color: #010A10;
  }

 .Raphael {
    font-size:50px;
    font-family: 'Inter', sans-serif;
   color: 	#e3331c; 
 }

.Michelangelo {
    font-size:50px;
    font-family: 'Inter', sans-serif;
   color: #ffa500; 
}

.Leonardo {
    font-size:50px;
    font-family: 'Inter', sans-serif;
   color: #aa1bdd;   
}

.Donatello {
    font-size:50px;
    font-family: 'Inter', sans-serif;
   color:#00aae6; 
}

  .flex-container {
    display: flex;
   flex-direction: row;
  flex-wrap: wrap;
   position:relative; 
  }   

  .flex-container > div {
    position: absolute;
    top: 300px;
    text-align: left;
    font-size:100px;
    font-family: 'Inter', sans-serif;
   color: #010A10;
  }

  .flex-container1 {
    display: flex;
   flex-direction: row;
  flex-wrap: wrap;
   position:relative;
  }   
  .flex-container1 > div {
    position: absolute;
    top: 300px;
    left: 1200px;
    text-align: right;
    font-size:100px;
    font-family: 'Inter', sans-serif;
   color: #010A10;
  }
  a:link {
    color: #010A10;
    text-decoration: none;
  }
  
  a:visited {
    color: #010A10;
    text-decoration: none;
  }
  
  a:hover {
    color: #C10206;
    text-decoration: none;
  }
  
  a:active {
    color: #010A10;
    text-decoration: none;
  }